<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript"
    		src="/javascripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript"
    		src="/javascripts/post-check.js"></script>
    <script type="text/javascript"
    		src="/javascripts/date-parse.js"></script>
  </head>
  <body>
    <div class="top">
      <h1><%= title %></h1>
      <p>Contributions</p>
      <form action="/contribute">
        <input type="submit" value="Tell your story">
      </form>
    </div>
    <div class="post_container">
    <div>
  </body>
</html>
