<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/form.css' />
  </head>
  <body>
    <div  class="form_container">
    <h1>Share your story!</h1>
    <p>How did this make your day brighter?</p>
      <form action="/add-contribution" method="GET"> 
        <p class="label_text"><label for="name">Name</label></p> 
        <input class="field" name="name" placeholder="Pat Jones" type="text"> 
    			 
    	<p class="label_text"><label for="zip">Zip Code</label></p> 
    	<input class="field" name="zip" placeholder="90210" type="text"> 
                
        <p class="label_text"><label for="story">Tell your story</label></p> 
        <textarea class="field" name="story" rows=3; cols=30 placeholder="How did this brighten your day?"></textarea>
        <br><input class="button" value="Submit" type="submit">
      </form>
      <form action="/contributions" method="GET">
        <input class="button" type="submit" value="Cancel">
      </form>
    </div>
  </body>
</html>
